extends layout.pug

block body-content
    div(class='search-box')
        form(action='/doc/list')
            input(id='search', type='text', name='keyword', placeholder='search')

    block doc-result
